/*
 * Copyright (C) 2013 CircuitCo
 *
 * Virtual cape for SPI1 on connector pins P9.29 P9.31 P9.30 P9.28
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

&am33xx_pinmux {
    /* default state has all gpios released and mode set to uart1 */
    bb_spi1_pins: pinmux_bb_spi1_pins {
        pinctrl-single,pins = <
            0x190 0x33	/* mcasp0_aclkx.spi1_sclk, INPUT_PULLUP | MODE3 */
            0x194 0x33	/* mcasp0_fsx.spi1_d0, INPUT_PULLUP | MODE3 */
            0x198 0x13	/* mcasp0_axr0.spi1_d1, OUTPUT_PULLUP | MODE3 */
            0x19c 0x13	/* mcasp0_ahclkr.spi1_cs0, OUTPUT_PULLUP | MODE3 */
            // 0x164 0x12	/* eCAP0_in_PWM0_out.spi1_cs1 OUTPUT_PULLUP | MODE2 */
        >;
    };
};


&spi1 {	/* spi1 is numbered correctly */
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&bb_spi1_pins>;
    
    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        #address-cells = <1>;
        #size-cells = <0>;

        compatible = "spidev";

        reg = <0>;
        spi-max-frequency = <16000000>;
        spi-cpha;
    };
/*
    channel@1 {
        #address-cells = <1>;
        #size-cells = <0>;

        compatible = "spidev";

        reg = <1>;
        spi-max-frequency = <16000000>;
    };
*/
};


&am33xx_pinmux {
    bb_i2c1a1_pins: pinmux_bb_i2c1a1_pins {
        pinctrl-single,pins = <
	    0x180 0x73	/* uart1_rxd.i2c1_sda, SLEWCTRL_SLOW | INPUT_PULLUP | MODE3 */
	    0x184 0x73	/* uart1_txdi2c1_scl, SLEWCTRL_SLOW | INPUT_PULLUP | MODE3 */
	>;
    };
};
	
&i2c1 {	/* i2c1 is numbered correctly */
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&bb_i2c1a1_pins>;

    /* this is the configuration part */
    clock-frequency = <100000>;	
};  
    

&am33xx_pinmux {
    emmc2_pins: pinmux_emmc2_pins {
        pinctrl-single,pins = <
            0x80 0x32	/* gpmc_csn1.mmc1_clk, INPUT_PULLUP | MODE2 */
            0x84 0x32	/* gpmc_csn2.mmc1_cmd, INPUT_PULLUP | MODE2 */
            0x00 0x31	/* gpmc_ad0.mmc1_dat0, INPUT_PULLUP | MODE1 */
            0x04 0x31	/* gpmc_ad1.mmc1_dat1, INPUT_PULLUP | MODE1 */
            0x08 0x31	/* gpmc_ad2.mmc1_dat2, INPUT_PULLUP | MODE1 */
            0x0c 0x31	/* gpmc_ad3.mmc1_dat3, INPUT_PULLUP | MODE1 */
            0x10 0x31	/* gpmc_ad4.mmc1_dat4, INPUT_PULLUP | MODE1 */
            0x14 0x31	/* gpmc_ad5.mmc1_dat5, INPUT_PULLUP | MODE1 */
            0x18 0x31	/* gpmc_ad6.mmc1_dat6, INPUT_PULLUP | MODE1 */
            0x1c 0x31	/* gpmc_ad7.mmc1_dat7, INPUT_PULLUP | MODE1 */
        >;
    };
};


&mmc2 {
    pinctrl-names = "default";
    pinctrl-0 = <&emmc2_pins>;	/* wrong numbering */
    vmmc-supply = <&ldo3_reg>;
    bus-width = <8>;
    ti,non-removable;
    status = "okay";
    ti,vcc-aux-disable-is-sleep;

    reset = <&rstctl 0 0>;
    reset-names = "eMMC_RSTn";
};
